.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  stroke: #333;
  stroke-width: 1.5px;
}

circle.reactComponent {
	fill: #4990E2;
}

circle.nodeModule {
	fill: #6ACA00;
}

circle.js {
	fill: gold;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.Chart {
  // border: 1px solid red;
  width: calc(100vw - 502px);
  height: calc(100vh - 60px);
}

.ChartWrapper {
  margin-top: 50px;
}
