.header {
  background-color: #4a4a4a;
  color: #F3F4F5;
  padding: 0.5em;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

h1 {
  margin: 0;
  font-size: 1em;
  font-weight: 600;
}

.brand {
  text-transform: uppercase;
  opacity: 0.5;
}

.project-name {

}
